.Cashier {
    text-align: center;
    background-color: rgb(31, 27, 27);
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    height: 100vh;
}

.header {
    text-align: left;
    height: 10vh;
    background-image: url("Images/watercolor-paper-texture.jpg");
}

.back-button {
    font-size: 5vh;
    background-color: rgba(23, 20, 20);
    color: white;
    vertical-align: middle;
    width: 8vw;
    height: 8vh;
    margin-right: 10vw;
    margin-left: 5vw;
    border: 1vh solid black;
}

.piada {
    display: inline-block;
    text-decoration: underline;
    font-size: 8vh;
    font-weight: bold;
    color: white;
}

.street-food {
    display: inline-block;
    color: white;
    font-size: 6vh;
}

.column {
    color: white;
    width: 20vw;
    height: 85vh;
    display: table-cell;
    font-size: 3vh;
  }

.main-panel {
    border: 2vh solid rgb(0, 0, 0);
    display: table-cell;
    margin: -10vh 0vw 2vh 0vw;
    height: 90vh;
    width: 80vw;
}

.main-buttons   {
    color: black;
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    font-size: 3.5vh;
    height: 19vh;  
    width: 17vw;
    margin-bottom: 1vh;
}

.order-panel {
    color: white;
    width: 40vw;
    background-image: url("Images/watercolor-paper-texture.jpg");
    background-color: rgba(23, 20, 20);
    height: 90vh;
    flex-direction: column;
    border: 2vh solid rgb(0, 0, 0);
    display: table-cell;
}

.pay-button {
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    font-size: 5vh;
    padding: 2vh 1vw 2vh 1vw;
}

.order-total {
    vertical-align: middle;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 3.5vh;
}

.display-order {
    background-color: whitesmoke;
    font-size: 2.5vh;
    height: 75vh;
    text-align: left;
    overflow: scroll;
    margin-bottom: 2vh;
}

.add-to-order {
    color: black;
    font-size: 2vh;
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    margin-top: 1vh;
    padding: 2vh 2.5vw 2vh 2.5vw;
}

.basic-option-buttons {
    color: black;
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    font-size: 1.5vh;
    width: 4vw;
    height: 5vh;
    margin: 2px 2px 2px 2px;
}

.basic-pop-up {
    text-align: center;
    vertical-align: middle;
}

.other-buttons {
    color: black;
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    font-size: 2.5vh;
    width: 20vw;
    height: 10vh;
    margin: 5px 5px 5px 5px;
}

