.Cashier {
    text-align: center;
    vertical-align: middle;
    background-color: rgba(23, 20, 20);
    font-family:'Times New Roman', Times, serif;
}

.header {
    display: fixed;
    width: 1400px;
    height: 200px;
    border: 20px solid rgb(0, 0, 0);
    background-color: rgba(23, 20, 20);
    margin-left: 50px;
}

.back-button {
    display: inline-block;
    font-size: 50px;
    background-color: rgba(23, 20, 20, 0);
    color: white;
    margin: 0px 200px 0px 0px;
}

.piada {
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    font-size: 100px;
    font-weight: bold;
    background-color: rgba(23, 20, 20, 0);
    color: white;
    padding: 0px 50px 0px 0px;
}

.street-food {
    display: inline-block;
    color: white;
    font-size: 50px;
}

.column {
    color: white;
    font-size: 25px;
    display: flex;
    width: 250px;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
  }

.main-panel {
    background-color: rgba(23, 20, 20, 0);
    display: flex;
    justify-content: center;
    margin-left: -400px;
    height: 650px;
}

.main-buttons   {
    color: black;
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    height: 113px;  
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.order-panel {
    width: 250px;
    height: 600px;
    border: 20px solid rgb(0, 0, 0);
    display: inline-block;
    position: fixed;
    color: white;
    margin: 0px 0px 0px 440px;
}

.pay-button {
    color: black;
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    height: 100px;  
    width: 200px;
    padding: 20px 20px 20px 20px;
}

.remove-button {
    color: black;
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}

.order-total {
    vertical-align: middle;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.display-order {
    font-size: 20px;
    width: auto;
    height: 250px;
    text-align: left;

}

.add-to-order {
    color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    padding: 20px 25px 20px 25px;
    margin: 0px 0px 5px 20px;
}

.basic-option-buttons {
    color: black;
    font-family:'Times New Roman', Times, serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    width: 75px;
    height: 50px;
    margin: 10px 10px 10px 10px;
}

.basic-pop-up {
    border: 5px solid rgb(0, 0, 0);
}

.sub-menu-panel {
    
}