.Customer {
    text-align: center;
    background-color: rgb(176, 176, 176);
}

.CustomerHeader {
    text-align: left;
    background-color:rgb(31, 27, 27);
    color: white;
    width: 100%;
    height: 8vh;
    /* position:absolute; */
}

.PaymentRemoval {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}

.MenuItemButton {
    width: 14vw;
    height: 14vw;
}

.float-container {
    border: 3px solid #fff;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 70vh;
}

.float-child {
    width: 25%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}

.float-child-other {
    width: 20%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
} 

.float-container2 {
    border: 3px solid #fff;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 70vh;
}

.float-child2 {
    width: 25%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}

.CategoryText {
    font-size:9vh;
}

.PriceText {
    color: red;
    font-size: 3vh;
}

.IngredientText {
    color: black;
    font-style: italic;
    font-size: medium;
    font-size: 2.5vh;
}

.popupHeader {
    text-align: center;
}

.popupMenu {
    background-color:rgb(139, 168, 146)
}

.selectedButton {
    background-color:rgb(215, 97, 38);
    width: 6vw;
}

.normalButton {
    background-color:rgb(107, 117, 125);
    width: 6vw;
}

.addToOrderButton {
    width: 12vw;
}