.manager {
    background-color: whitesmoke;
    text-align: left;
    vertical-align: middle;
    text-align: center;
}

.ManagerContainer {
    padding-left : 10px;
    padding-right : 10px;
}

/*Style For Tabs Not Active */
.ManagerContainer .nav-tabs .nav-item .nav-link {
    font-size: 22px;
    color: darkgrey;
    background: white;
    border: 1px solid lightgray; /* Adjust the border properties for unselected tabs */
}

/* Style For Selected Tabs */
.ManagerContainer .nav-tabs .nav-item .nav-link.active {
    color: black; /*Text Color For Selected Tab */
    border: 2px solid darkgrey; /* Change Width Around Selected Tab*/
}

/* Hover Effect for Unselected Tabs */
.ManagerContainer .nav-tabs .nav-item .nav-link:not(.active):hover {
    color: darkgrey;
    border: 1px solid darkgrey; /* Change Width Around Hovered Tab */
}

.Search-Container{
    align-items: center;
    margin: 10px;
}

.searchForm {
    width: 40vw;
    height: 5vh;
    border: 3px solid black;
    border-radius: 10px;
    display: block;
    margin: 0vh auto 0vh auto;
    font-size: 2vh;
}

.input-forms {
    width: 10vw;
    height: 4vh;
    padding: 0px 0.5vw 0px 0.5vw;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 2vh;
    text-align: center;
    margin-right: 0.5vw ;
}